<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>登录</title>
        <link rel="stylesheet" href="{% static '/img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
    </head>
    <body>
        <div class="login-container" >
            <h1>登陆页面</h1>
            <div class="connect">
                <p style="left: 0%;">Link the world. Share to world.</p>
            </div>
            <form action="" method="post" id="loginForm" novalidate="novalidate">
                {% csrf_token %}
                <div>
                    <input type="text" name="username" class="username valid" placeholder="用户名" autocomplete="off" value="admin"
                           aria-required="true">
                </div>
                <div>
                    <input type="password" name="password" class="password error" placeholder="密码" oncontextmenu="return false"
                           onpaste="return false" aria-required="true" aria-invalid="true">
                    <label id="password-error" class="error" for="password">{{ login_error }}</label>
                </div>
                <button id="submit" type="submit">登 陆</button>
            </form>
            <a href="register.html">
                <button type="button" class="register-tis">还有没有账号？</button>
            </a>
        </div>
        
        <script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static '/js/supersized.3.2.7.min.js' %}"></script>
        <script src="{% static '/js/supersized-init.js' %}"></script>
    </body>
</html>